<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Data Explorer">
  <meta name="author" content="Imply">
  <meta name="google" value="notranslate">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v={{version}}">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v={{version}}">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v={{version}}">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v={{version}}">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v={{version}}">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v={{version}}">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v={{version}}">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v={{version}}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v={{version}}">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v={{version}}" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v={{version}}" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png?v={{version}}" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v={{version}}" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v={{version}}">
  <meta name="apple-mobile-web-app-title" content="{{title}}">
  <meta name="application-name" content="{{title}}">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v={{version}}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/pivot.css?v={{version}}"/>
  <title>{{title}} ({{version}})</title>
</head>
<body>
{{{body}}}
</body>
</html>
